<div align="center">
    <table align="center" border="2" >
        <thead>
        <td [colSpan]=2 align="center"><b>Employee Details</b></td>
        </thead>
        <tbody>
        <tr>
        <td align="left" >Employee No</td>
        <td align="center">{{employee.empno}}</td>
        </tr>
        <tr>
        <td align="left">Employee Name</td>
        <td align="center">{{employee.empname}}</td>
        </tr>
        <tr>
        <td align="left">Employee Age</td>
        <td align="center">{{employee.age}}</td>
        </tr>
        <tr>
        <td align="left">Employee Salary</td>
        <td align="center">{{employee.salary}}</td>
        </tr>
        </tbody>
        </table>>
        
</div>

