<div align="center">
  <br><br>
  <h1>Angular Solutions Private Limited, India</h1>
  <br><br>
   <nav style="background-color: burlywood; color:darkblue;font-size: x-large;">
        <a routerLink="/home" routerLinkActive="myactiveroute">Home</a> &nbsp;&nbsp;
        <a routerLink="/employees" routerLinkActive="myactiveroute">Employees List</a>&nbsp;&nbsp;
        <a routerLink="/googleemployees" routerLinkActive="myactiveroute">Google Employees List</a>&nbsp;&nbsp;
        <a routerLink="/products" routerLinkActive="myactiveroute">Products List</a>&nbsp;&nbsp;
        <a routerLink="/contactus" routerLinkActive="myactiveroute">Contact Us</a>
   </nav>
   <br><br>
  <router-outlet></router-outlet> 
  <br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br>
</div>
